.num-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
img {
  margin: 0 auto;
}
app-number {
  margin: 1vw;
  padding: 1vw;
  width: 0.8rem;
  font-size: 18px;
  cursor: pointer;
  font-family: Roboto,Helvetica,Arial,sans-serif;
}
app-number.selected {
  color: #000;
}
app-number:not(.selected) {
  color: #bbbeee;
}
